@{
    ViewBag.Title = "Driver Registration Failed";
    Layout = "_Layout";
}

<div class="container">
    <h2>Sorry, Driver Tour Registration is Closed!</h2>
    <br/>
    <h4>
        We are sorry but the driver registration is closed, and we do not need any more drivers at this time.
        Please email Asher Imtiaz (<a href="mailto:asherimtiaz@gmail.com">asherimtiaz@gmail.com</a>) if you have any questions.
        Follow our <a href="https://www.facebook.com/Milwaukeeinternationals/">Facebook page</a> for more events and gatherings.
    </h4>
    <br/>
    <br/>
</div>